{
    "b0_threshold": 0,
    "bvecs_tol": 0.01,
    "dwi": "testdata/data.nii.gz",
    "bvals": "testdata/data.bvals",
    "bvecs": "testdata/data.bvecs",
    "mask": "testdata/mask.nii.gz"
    "greater_than": 50,
    "less_than": 1000000,
    "no_slr": false,
    "clust_thr": 15.0,
    "reduction_thr": 15.0,
    "reduction_distance": "mdf",
    "model_clust_thr": 2.5,
    "pruning_thr": 8.0,
    "pruning_distance": "mdf",
    "slr_metric": "symmetric",
    "slr_transform": "similarity",
    "slr_matrix": "small",
    "refine": false,
    "r_reduction_thr": 12.0,
    "r_pruning_thr": 6.0,
    "no_r_slr": false,
    "streamline_files": "testdata/track.trk"
}
